@using TGV.IPEFAE.Web.Resources.Admin.Concurso.Empresa;
@model List<TGV.IPEFAE.Web.App.Models.ConcursoModel.EmpresaModel>

@if (Model.Count > 0)
{
    <table id="tblEmpresas" class="table table-striped table-bordered table-hover" summary="@Index.Summary">
        <caption>@Index.TituloTela</caption>
        <thead>
            <tr>
                <th scope="col" style="display: none">#</th>@* -- id -- *@
                <th scope="col">@Index.ColunaNome</th>
                <th scope="col">@Index.ColunaRazaoSocial</th>
                <th scope="col">@Index.ColunaBanco</th>
                <th scope="col">@Index.ColunaAgenciaConta</th>
                <th scope="col">@Index.ColunaAtivo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TGV.IPEFAE.Web.App.Models.ConcursoModel.EmpresaModel empresa in Model)
            {
                <tr>
                    <td style="display: none"><span>@empresa.Id</span></td>
                    <td>@empresa.Nome</td>
                    <td>@empresa.RazaoSocial</td>
                    <td>@empresa.Banco</td>
                    <td>@empresa.AgenciaConta</td>
                    <td class="acao">
                        <div class="editarAtivacao icons @Html.Raw(empresa.Ativo ? "checked" : "unchecked")" title="@Html.Raw(empresa.Ativo ? Index.TitleDesativar : Index.TitleAtivar)"></div>
                    </td>
                    <td class="acao">
                        <div class="icons editar" title="@Index.TitleEditar"></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-striped table-bordered table-hover" summary="@Index.NenhumaEmpresaEncontrada">
        <thead>
            <tr>
                <th scope="col">@Index.NenhumaEmpresaEncontrada</th>
            </tr>
        </thead>
    </table>
}