@using TGV.IPEFAE.Web.Resources.Admin.Concurso;
@model List<TGV.IPEFAE.Web.App.Models.ConcursoModel.CargoModel>

<script>
    var mensagemDesativando = encodeConversion('@_ListaCargosDisponiveis.MensagemDesativando', 'num', 'hex');
    var operacaoMensagemSucesso = encodeConversion('@_ListaCargosDisponiveis.OperacaoMensagemSucesso', 'num', 'hex');
</script>

@if (Model.Count > 0)
{
    <table style="width: 100%">
        <thead style="font-weight: bold;">
            <tr>
                <td style="display:none;"></td> <!-- ID -->
                <td style="width: 50%;">@_ListaCargosDisponiveis.ColunaNomeCargo</td>
                <td style="width: 35%;">@_ListaCargosDisponiveis.ColunaValorInscricao</td>
                <td style="width: 10%;">@_ListaCargosDisponiveis.ColunaAtivo</td>
                <td style="min-width: 70px;"></td> <!-- Editar -->
            </tr>
        </thead>
        <tbody>
            @foreach (TGV.IPEFAE.Web.App.Models.ConcursoModel.CargoModel cargo in Model.OrderBy(car => car.Nome))
            {
                <tr>
                    <td style="display:none;">@cargo.Id</td>
                    <td>@cargo.Nome</td>
                    <td>@cargo.ValorInscricaoString</td>
                    <td class="acao">
                        <div class="editarAtivacao icons @Html.Raw(cargo.Ativo ? "checked" : "unchecked")" title="@Html.Raw(cargo.Ativo ? _ListaCargosDisponiveis.TitleDesativar : _ListaCargosDisponiveis.TitleAtivar)"></div>
                    </td>
                    <td class="acao text-center">
                        <div class="icons editar editarCargo" style="float: left;" title="@_ListaCargosDisponiveis.TitleEditar"></div>
                        @if (!cargo.TemInscritos)
                        {
                            <div class="icons lixeira excluirCargo" style="float: left;" title="@_ListaCargosDisponiveis.TitleExcluir"></div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-striped table-bordered table-hover" summary="@_ListaCargosDisponiveis.NenhumCargoEncontrado">
        <thead>
            <tr>
                <th scope="col">@_ListaCargosDisponiveis.NenhumCargoEncontrado</th>
            </tr>
        </thead>
    </table>
}
