@model List<TGV.IPEFAE.Web.BL.Data.ConcursoFuncaoModel>

@if (Model.Count > 0)
{
    <table id="tblFuncoes" class="table table-striped table-bordered table-hover" summary="Lista de Funções">
        <caption>Lista de Funções</caption>
        <thead>
            <tr>
                <th scope="col" style="display: none;">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor Líquido</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (TGV.IPEFAE.Web.BL.Data.ConcursoFuncaoModel concurso in Model)
            {
                <tr>
                    <td style="display: none;"><span>@concurso.id</span></td>
                    <td>@concurso.funcao</td>
                    <td>@concurso.valor_liquido_formatado</td>
                    <td class="acao">
                        <div class="icons salvar" title="Salvar" ng-show="modoEdicaoFuncao" ng-click="funcao_salvar('@concurso.id')"></div>
                        <div class="icons editar" title="Editar" ng-show="!modoEdicaoFuncao" ng-click="modoEdicaoFuncao = true"></div>
                        <div class="icons excluir" title="Excluir" ng-show="!modoEdicaoFuncao" ng-click="funcao_excluir('@concurso.id')"></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-striped table-bordered table-hover" summary="Nenhuma função foi encontrada">
        <thead>
            <tr>
                <th id="funcaoNaoEncontrada" scope="col" ng-show="concurso.id > 0">Nenhuma função foi encontrada</th>
                <th id="funcaoNaoEncontradaSemConcurso" scope="col" ng-show="concurso.id <= 0">Salve o concurso para adicionar funções</th>
            </tr>
        </thead>
    </table>
}