@using TGV.IPEFAE.Web.Resources.Admin.Concurso;
@model TGV.IPEFAE.Web.App.Models.ConcursoModel.CargoModel
<link href="@Url.Content("~/Content/Concurso.css?v=" + TGV.IPEFAE.Web.App.Controllers.BaseController.VersionNumber)" rel="stylesheet" type="text/css"> 

<script>
    var mensagemOperacaoSucesso = encodeConversion('@_ModalCargosConcurso.MensagemOperacaoSucesso', 'num', 'hex');
    var nomeObrigatorio = encodeConversion('@_ModalCargosConcurso.NomeObrigatorio', 'num', 'hex');
    var valorInscricaoObrigatorio = encodeConversion('@_ModalCargosConcurso.ValorInscricaoObrigatorio', 'num', 'hex');

    $(function () { iniciarTelaModalCargos('@Model.IdConcurso'); });
</script>

<input type="hidden" id="hdnIdCargo" value="@Model.Id" />
<input type="hidden" id="hdnIdConcurso" value="@Model.IdConcurso" />

<div class="modal fade modal-cargos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <form id="cargoForm" class="cargoForm" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@_ModalCargosConcurso.LabelNomeCargo</label><em>*</em>
                                <input type="text" class="form-control" name="nomeCargo" id="txtNomeCargo" value="@Model.Nome" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="min-height: 74px;">
                        <div class="col-md-3 col-sm-3 valor_cargo">
                            <div class="form-group">
                                <label>@_ModalCargosConcurso.LabelValorInscricao</label><em>*</em>
                                <input type="text" class="form-control" name="valorInscricao" id="txtValorInscricao" data-thousands="." data-decimal="," data-prefix="R$ " value="@Model.ValorInscricaoString" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group text-center">
                                <input type="button" name="btnVoltar" id="btnVoltar" class="btn btn-personal1 btn-lg" value="@_ModalCargosConcurso.BotaoCancelar" onclick="$('.modal-cargos').modal('hide');" />
                                <input type="submit" name="btnSalvar" id="btnSalvar" class="btn btn-success btn-lg" value="@_ModalCargosConcurso.BotaoAdicionar" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
