@using TGV.IPEFAE.Web.Resources.Admin.Estagio;
@model List<TGV.IPEFAE.Web.App.Models.UsuarioEstagioModel>
@{ Layout = "~/Views/Shared/_LayoutLogado.cshtml"; }

<link href="@Url.Content("~/Content/Estagio.css?v=" + TGV.IPEFAE.Web.App.Controllers.BaseController.VersionNumber)" rel="stylesheet" type="text/css">
<script src="@Url.Content("~/Scripts/Views/Estagio.js?v=" + TGV.IPEFAE.Web.App.Controllers.BaseController.VersionNumber)"></script>
<script>
    var mensagemGerarCSV = encodeConversion('@Index.MensagemGerarCSV', 'num', 'hex');
    var mensagemGerarPDF = encodeConversion('@Index.MensagemGerarPDF', 'num', 'hex');
    var mensagemPesquisando = encodeConversion('@Index.MensagemPesquisando', 'num', 'hex');
    var mensagemNenhumEncontrado = encodeConversion('@Index.NenhumEstagiarioEncontrado', 'num', 'hex');
    $(function () { iniciarTelaAdminListagem(); });
</script>

<iframe id="iframeCSV" style="display:none;"></iframe>
<iframe id="iframePDF" style="display:none;"></iframe>
<input type="hidden" id="hdnPagina" value="1" />
<h2 class="titulo" style="margin-bottom: 10px;">
    @Index.TituloTela
    <div style="display: inline;"><small>- Foram Gerados</small> <small class="totalRelatorios" style="font-weight: bold;">0</small> <small>CV(s) em PDF este mês de um total de 1000</small></div>
</h2>
@{ bool temDados = Model.Count > 0; }

<div class="row filtros">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <label>@Index.LabelFiltroNome</label><br />
                <input type="text" id="txtNome" class="form-control" />
            </div>
            <div class="col-md-3">
                <label>@Index.LabelFiltroCurso</label><br />
                <input type="text" id="txtCurso" class="form-control" />
            </div>
            <div class="col-md-3">
                <label>@Index.LabelFiltroCPF</label><br />
                <input type="text" id="txtCPF" class="form-control" />
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2">
                <label>@Index.LabelFiltroCidade</label><br />
                <input type="text" id="txtCidade" class="form-control" />
            </div>
            <div class="col-md-2">
                <label>@Index.LabelFiltroSituacao</label><br />
                <select id="ddlSituacao" class="form-control">
                    <option value="" selected>@Index.OptionEstagiandoTodos</option>
                    <option value="true">@Index.OptionEstagiando</option>
                    <option value="false">@Index.OptionEstagiandoNao</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>@Index.LabelFiltroAno</label><br />
                <select id="ddlAno" class="form-control">
                    <option value="" selected></option>
                    <option value="1">1º</option>
                    <option value="2">2º</option>
                    <option value="3">3º</option>
                    <option value="4">4º</option>
                    <option value="5">5º</option>
                    <option value="6">6º</option>
                    <option value="7">7º</option>
                    <option value="8">8º</option>
                    <option value="9">9º</option>
                    <option value="10">10º</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>@Index.LabelFiltroVisualizacao</label><br />
                <select id="ddlVisualizacao" class="form-control">
                    <option value="true">@Index.OptionVisiveis</option>
                    <option value="false">@Index.OptionOcultos</option>
                </select>
            </div>
            <div class="col-md-4" style="padding-top: 25px;">
                <a name="btnPesquisar" id="btnPesquisar" class="btn btn-sm" style="background-color: rgb(221, 221, 221); color: rgb(97, 97, 97);">@Index.BotaoPesquisar</a>
                <a name="btnPDF" id="btnPDF" class="btn btn-danger btn-sm" style="@Html.Raw(temDados ? "" : "display: none; ")">@Index.BotaoPDF</a>
                <a name="btnCSV" id="btnCSV" class="btn btn-success btn-sm" style="@Html.Raw(temDados ? "" : "display: none; ")">@Index.BotaoCSV</a>
            </div>
        </div>
    </div>
</div>

<div class="listagem">
    <ul class="scrollTable" style="@Html.Raw(temDados ? "" : "display: none; ")">
        <div class="scrollTableHeader">
            <li>
                <span class="nome order selecionado" style="width: 20%;">@Index.ColunaNome</span>
                <span style="width: 15%;">@Index.ColunaCurso</span>
                <span style="width: 15%;">@Index.ColunaSemAno</span>
                <span style="width: 13%;">@Index.ColunaSituacao</span>
                <span style="width: 15%;">@Index.ColunaTelefone</span>
                <span class="order atualizacao" style="width: 12%;">@Index.ColunaUltimaAtualizacao</span>
                <span style="width: 5%;"></span>
            </li>
        </div>
        <div class="scrollTableBody">
            @Html.Partial("_ListaEstagiarios", Model)
        </div>
        <div class="mais" onclick="mais();">
            @Index.CliqueVisualizar
        </div>
    </ul>
    <table class="table table-striped table-bordered table-hover emptyTable" style="@Html.Raw(temDados ? "display: none; " : "")" summary="@Index.NenhumEstagiarioEncontrado">
        <thead>
            <tr>
                <th scope="col">@Index.NenhumEstagiarioEncontrado</th>
            </tr>
        </thead>
    </table>
</div>