@using TGV.IPEFAE.Web.Resources.Estagio
@using TGV.IPEFAE.Web.App.Models
@model UsuarioEstagioModel.ExperienciaProfissionalModel

<div class="container_experiencia_@Model.Posicao" style="@Html.Raw(Model.Visivel || Model.Posicao == 1 ? String.Empty : "display: none;") @Html.Raw(Model.Posicao > 1 ? "border-top: 0;" : "")">
    <div class="row">
        <div class="col-md-12">
            @{ string complemento = Model.Posicao == 1 ? String.Format(" {0}", _ExperienciaProfissional.LabelEmpresaComplemento) : String.Empty; }
            <span>@String.Format(_ExperienciaProfissional.LabelEmpresa, Model.Posicao, complemento)</span>
            <input type="hidden" name="hdnId" value="@Model.Id" />
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6">
            <div class="form-group">
                <label>@_ExperienciaProfissional.LabelNomeEmpresa</label>
                <input type="text" class="form-control" name="nomeEmpresa" value="@Model.NomeEmpresa" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>@_ExperienciaProfissional.LabelCargo</label>
                <input type="text" class="form-control" name="cargo" value="@Model.Cargo" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-6">
            <div class="form-group">
                <label>@_ExperienciaProfissional.LabelMesAnoInicio</label>
                <input type="text" class="form-control" name="dataInicio" placeholder="__/____" value="@Html.Raw(Model.MesInicio.HasValue && Model.AnoInicio.HasValue ? String.Format("{0}/{1}", Model.MesInicio.ToString().PadLeft(2, '0'), Model.AnoInicio) : String.Empty)" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>@_ExperienciaProfissional.LabelMesAnoTermino</label>
                <input type="text" class="form-control" tag="@Model.Posicao" name="dataTermino" placeholder="__/____" value="@Html.Raw(Model.MesTermino.HasValue && Model.AnoTermino.HasValue ? String.Format("{0}/{1}", Model.MesTermino.ToString().PadLeft(2, '0'), Model.AnoTermino) : String.Empty)" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="form-group">
                <label>@_ExperienciaProfissional.LabelAtividadesDesenvolvidas</label>
                <textarea style="max-width: none;" name="atividadesDesenvolvidas" placeholder="@_ExperienciaProfissional.PlaceHolderAtividadesDesenvolvidas" class="form-control">@Model.AtividadesDesenvolvidas</textarea>
                <br />
                @if (Model.Posicao < 3)
                {
                    <a href="javascript:void(0)" onclick="alterarAdicionarRemover($(this), true, '.container_experiencia_@Model.Posicao', '.link_exp', 'nomeEmpresa');" class="link_exp adicionar-exp">@_ExperienciaProfissional.LabelAdicionarOutraEmpresa</a>
                    if (Model.Posicao == 2)
                    {
                        <label class="link_exp"> | </label>
                    }
                }
                @if (Model.Posicao > 1)
                {
                    <a href="javascript:void(0)" onclick="alterarAdicionarRemover($(this), false, '.container_experiencia_@Model.Posicao', '.link_exp', 'nomeEmpresa');" class="link_exp remover-exp" style="@Html.Raw(Model.Posicao > 1 ? "" : "display: none;")">@_ExperienciaProfissional.LabelRemoverEmpresa</a>
                }
            </div>
        </div>
    </div>
</div>